@font-face {
    font-family: 'Entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#Entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Social';
    src: url('../fonts/entypo-social.eot');
    src: url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-social.ttf') format('truetype'),
         url('../fonts/entypo-social.svg#Entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
	font-family: 'Entypo';

	&.pull-left {
		float: left;
		margin: 0 0.5em 0 0;
	}
	&.pull-right {
		float: right;
		margin: 0 0 0 0.5em;
	}
}

.center {
	text-align: center;
}

.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cover--fixed {
  background-attachment: fixed;
}

.button {
	@include box-sizing(border-box);
	@extend .animated;
	display: inline-block;
	padding: 1em 1.5em 0.9em 1.5em;
	border: 2px solid;
	font-family: 'Lato', Sans-serif;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	-webkit-transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
	font-size: 0.8em;
	border-radius: 10em;
	color: $darkGrey;
	border-color: $darkGrey;

	&:hover, &:active {
		color: #fff;
		background: $darkGrey;
		-webkit-animation-name: pulse;
		animation-name: pulse;
		-webkit-animation-duration: 0.2s;
	}
}

.button--small {
  font-size: 0.6em;
}

.button--big {
  font-size: 1em;
}

.button--accent {
  color: lighten($accent, 45%);
  border-color: $accent;
  background: $accent;

  &:hover, &:active {
    color: #fff;
    border-color: darken($accent, 5%);
    background: darken($accent, 5%);
  }
}

.button--white {
  color: $mediumGrey;
  border-color: $lightestGrey;
  background: $lightestGrey;

  &:hover, &:active {
    color: $darkGrey;
    background: rgba($lightestGrey, 0.75);
  }
}

.button--light {
  color: darken($lightGrey, 15%);
  border-color: darken($lightGrey, 15%);

  &:hover, &:active {
    background: darken($lightGrey, 15%);
  }
}

.button--medium {
  color: $mediumGrey;
  border-color: $mediumGrey;

  &:hover, &:active {
    background: $mediumGrey;
  }
}

.button--not-live {
  position: relative;
  pointer-events: none;
  background: lighten($accent, 45%);
  border-color: lighten($accent, 45%);
  color: lighten($accent, 35%);

  &:after {
    content: "No longer live";
    display: block;
    position: absolute;
    bottom: -2em;
    left: 50%;
    height: 1em;
    width: 7em;
    margin: 0 0 0 -4.5em;
    padding: 0.75em 1em;
    background: $darkGrey;
    text-transform: initial;
    letter-spacing: 0;
    font-weight: 400;
    color: white;
    line-height: 1.15em;
    border-radius: 0.25em;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    box-shadow: 0 0.3em 3em rgba(86, 91, 109, 0.3);
  }
}

.icon {
  font-size: 2em;
  line-height: 0.5em;
}

.round {
	border-radius: 50em;
}

ul.horizontal {
	li {
		display: inline;
	}
}
