.block {
	@extend .clear;
	display: block;

	&.rounded {
		border-radius: 0.25em;
	}

	&.white {
		background: #fff;
	}
	&.light {
		background: $lightGrey;
	}
	&.medium {
		background: $mediumGrey;
	}
	&.dark {
		background: $darkGrey;

		h1 {
			color: $lightGrey;
		}

		h2 {
			color: darken($lightGrey, 10%);
		}

		hr {
			background: lighten($darkGrey, 8%);
		}
	}
}

.infocard {
	@include padding(2em);
	@extend .animated;
	margin: 0 0 2em 0;
	background: #fff;
	border-radius: 0.25em;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	box-shadow: 0 0.5em 5em rgba($darkGrey, 0.25);

	h1 {
		margin: 0.5em 0;
	}
}

.breakout {
	@extend .animated;
	width: 70em;
	margin: 2em 0 3em -12em;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	background: $darkGrey;
	box-shadow: 0 0.5em 3em rgba($darkGrey, 0.25);
	border-radius: 0.15em;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	@media screen and (max-width: 74em) {
		width: 100%;
		margin: 2em 0;
	}
}

.intro {
	@include verticalPadding(4em);
	@include horizontalPadding(2em);
	@extend .container-thinner;
	@extend .animated;
	background: #fff;
	border-radius: 0.25em;
}

.animated-link {
	@extend .animated;
	display: inline-block;
	-webkit-transition: opacity 0.2s ease-in-out;

	img {
		box-shadow: 0 0.5em 2em rgba($darkGrey, 0.15);
	}

	&:hover {
		opacity: 0.8;
		-webkit-animation-name: pulse;
		animation-name: pulse;
		-webkit-animation-duration: 0.2s;
	}
}

.social {
	text-align: center;

	li {
		display: inline-block;
	}
	a {
		@extend .animated-link;
		font-family: 'Social';
		font-size: 3em;
		text-decoration: none;
		line-height: 1em;
		margin: 0 0.1em;

		&.github {
			color: #999;
		}
		&.gplus {
			color: #dd4b39;
		}
		&.rdio {
			color: #2697d5;
		}
	}

	&.small {
		a {
			font-size: 2.1em;
		}
	}
}

.toggle {
	@extend .round;
	display: inline-block;
	background: $darkGrey;
	margin: 1em 0 0 0;
	padding: 2px;

	li {
		display: inline;
	}

	a {
		display: inline-block;
		height: 20px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.8em;
		font-weight: 400;
		text-decoration: none;
		padding: 10px 20px;
		line-height: 20px;
		color: $lightGrey;

		&:hover {
			color: $mediumGrey;
		}

		&.current {
			@extend .round;
			color: $accent;
			background: #fff;
		}
	}
}

.thumbs {
	@extend .container;
	text-align: center;

	img {
		width: 100%;
		height: auto;
		border-radius: 0.15em;
	}
}

.modal-overlay {
	@include padding(1em);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	background: rgba(255,255,255,0.95);
	text-align: center;

	button {
		position: absolute;
		z-index: 200;
		top: 0.25em;
		right: 0.25em;
		font-family: 'Entypo';
		font-size: 3em;
		width: 0.9em;
		height: 0.9em;
		padding: 0;
		border: 0;
		line-height: 0.95em;
		text-align: center;
		background: $lightGrey;
		color: $darkGrey;
		cursor: pointer;
		outline: none;
		border-radius: 0.05em;

		&:hover {
			background: $darkGrey;
			color: $lightGrey;
		}
	}

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.modal {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-width: 5em;
	min-height: 5em;
	max-width: 100%;
	max-height: 100%;
	background: $darkGrey;
	border-radius: 0.15em;
	overflow: hidden;

	img {
		position: relative;
		z-index: 100;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}