$lightestGrey: #fffcf9;
$lightGrey: #eceef4;
$mediumGrey: #818699;
$darkGrey: #565b6d;
$accent: #33aea8;
$accent2: #db562b;
$accent3: #aedfe5;

/* Responsive break points */
$largestBreak:75em;/*1200px*/
$largeBreak:60em;/*960px*/
$mediumLargeBreak:45em;/*720px*/
$mediumBreak:35em;/*560px*/
$smallMediumBreak:30em;/*480px*/
$smallBreak:25em;/*400px*/
$smallestBreak:20em;/*320px*/

$gap: 2em;